/* Change the background of the entire visible page */
body {
    background-color: brown; /* pale green */
}

/* Style for all paragraphs */
p {
    color: darkgreen;
    font-size: 20px;
    font-family: 'stonecraft', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 3px solid orange; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
